* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
color: rgb(84, 161, 84);
}
header {
 background-color: rgb(60, 83, 60);
 background-image: url(../images/bg/camo.png);
 background-repeat: no-repeat;
 background-size: cover;
 height: 87px;
 width: 100vw;
 padding: 10px 25px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
main {
background-color: rgb(39, 39, 39);
color: white;
}
footer {
background-color: rgb(25, 28, 25);
color: white;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 25px 30px;
}

.header-info-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-img {
    height: 80px;
}
.header-txt {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: white;
    text-shadow: -1px -2px 2px black;
}
.header-btn {
    width:64px;
    height: 34px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: 17px;
}
.header-btn:hover {
   
    background-color: rgba(0, 0, 0, 0.726);
    border: 1px solid black;
    cursor: pointer;
}

.footer-img {
    height: 200px;
}